# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library/*
**/Temp/*
**/UnityPackageManager/*
**/ProjectSettings/* #should it be here?
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb

# not include vs settings
.vs/

# include meta files
!*.meta